{% extends 'all-news/base.html'%}
{% block content %} 
{{ block.super}}




       

<div class="card">
        {% for pro in projo %}
        <div class="view overlay">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">
                    <a href="#">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <div class="card-body">
            <!--Title-->
            <h3 class="card-title">{{ pro.title }}</h3>
            <!--Text-->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="{% url 'details' pro.id  %}" class="btn btn-primary">See More</a>
        </div>

</div>



  {% endfor %}



{% endblock %}